src/prototypes/manual-test-authoring/raw/v1-legacy/n8n-test - TestOps J1 — DocProcessor → Analyzer → Generator.json
{
  "name": "TestOps J1 \u2014 DocProcessor \u2192 Analyzer \u2192 Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testops-j1",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "394a34c2-43e2-420b-a4e9-91cb343bf55a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        -64
      ],
      "webhookId": "testops-j1"
    },
    {
      "parameters": {
        "jsCode": "\nconst doc = $('Aggregate').first().json;\nconst detData = $('Deterministic Layer').first().json;\n\nconst jiraKey = detData.key;\nconst jiraTitle = detData.fields.summary || '';\nconst documentText = doc.text.join(\" || \")+\" || \";\nconst documentName = doc.documentName || 'document.txt';\n\nconst docSys = `<role>\nYou are a document analyzer for software testing. You receive the text of an uploaded document alongside a JIRA requirement, and you extract information useful for testing that specific requirement. You are NOT summarizing the document \u2014 you are mining it for testable constraints, scenarios, rules, and conflicts that relate to the given requirement.\n</role>\n\n<input_description>\nYou receive:\n- requirementTitle: The JIRA ticket title (your relevance anchor)\n- requirementDescription: The raw JIRA description\n- requirementKey: The JIRA ticket identifier\n- documentName: Filename of the uploaded document\n- documentText: The full extracted text of the document\n</input_description>\n\n<tasks>\nFollow the J1 Doc Processor v4.0 instructions to assesses relevance and extract rules / scenarios / conflicts.\nScore relevance 0.0 to 1.0. If < 0.3, return early.\n</tasks>\n\n<output_schema>\n{\n  \"relevanceScore\": 0.0,\n  \"relevanceReason\": \"string\",\n  \"extractedRules\": [ { \"text\": \"...\", \"source\": \"...\", \"type\": \"constraint\", \"confidence\": 1.0 } ],\n  \"extractedScenarios\": [ { \"text\": \"...\", \"source\": \"...\", \"actors\": [], \"isHappyPath\": true } ],\n  \"domainContext\": [ \"...\" ],\n  \"conflicts\": [ { \"jiraContent\": \"...\", \"docContent\": \"...\", \"source\": \"...\", \"severity\": \"medium\" } ],\n  \"sourceDocuments\": [ { \"name\": \"...\", \"type\": \"txt\", \"pageCount\": 1, \"sectionsProcessed\": 1, \"totalSections\": 1 } ]\n}\n</output_schema>`;\n\nconst docUser = `<requirement>\n  <key>${jiraKey}</key>\n  <title>${jiraTitle}</title>\n  <description>${detData.textDesc}</description>\n</requirement>\n<document>\n  <n>${documentName}</n>\n  <text>${documentText.substring(0, 8000)}</text>\n</document>\nExtract testable information. Respond with JSON object only.`;\n\nreturn [{json: {\n  anthropicBody: {\n    model: 'claude-haiku-4-5-20251001', max_tokens: 1500, system: docSys,\n    messages: [{role: 'user', content: docUser}],\n  }\n}}];\n"
      },
      "id": "6cb2bd50-a2c3-436e-a32a-5621fb93d61e",
      "name": "Doc Processor Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "ec903383-88ff-4561-b253-23bb4a5fc552",
      "name": "Call Doc Processor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1104,
        336
      ],
      "credentials": {
        "anthropicApi": {
          "id": "IjFrq7QwTeBUbKr2",
          "name": "Anthropic account 9"
        }
      },
      "notes": "Credential: HTTP Header Auth \u2014 header name = x-api-key, value = your Anthropic API key"
    },
    {
      "parameters": {
        "jsCode": "\nconst inputRaw = $input.first().json;\nlet docContext = {};\n\nif (inputRaw.content && inputRaw.role === 'assistant') { // from Doc Processor\n  const s = inputRaw.content[0].text;\n  const start = s.indexOf('{'); const end = s.lastIndexOf('}');\n  if (start !== -1) docContext = JSON.parse(s.substring(start, end + 1));\n}\n\nconst state = $('Deterministic Layer').first().json;\nconst jiraKey = state.key;\nconst jiraTitle = state.fields.summary || '';\nconst jiraDescription = state.textDesc || '';\n\nconst analyzerASys = `<role>\nYou are an extraction layer. You validate, correct, split, merge, and enrich based on J1 Analyzer A v4.2 spec.\n</role>\n<output_schema>\n{\n  \"clearIntent\": \"string\",\n  \"extractedACs\": [ { \"id\": \"EAC-1\", \"text\": \"...\", \"source\": \"explicit\", \"confidence\": \"high\", \"originalCandidateId\": \"CAND-1\" } ],\n  \"rejectedCandidates\": []\n}\n</output_schema>`;\n\nconst analyzerAUser = `<source_type>jira</source_type>\n<requirement><key>${jiraKey}</key><title>${jiraTitle}</title><description>${jiraDescription}</description></requirement>\n<deterministic_result>${JSON.stringify(state.deterministicResult)}</deterministic_result>\n${docContext.relevanceScore >= 0.3 ? `<document_context>${JSON.stringify(docContext)}</document_context>` : ''}\nExtract and validate acceptance criteria. JSON only.`;\n\nreturn [{json: {\n  jiraKey, jiraTitle, jiraDescription, deterministicResult: state.deterministicResult,\n  documentContext: docContext,\n  anthropicBody: {\n    model: 'claude-haiku-4-5-20251001', max_tokens: 2000, system: analyzerASys,\n    messages: [{role: 'user', content: analyzerAUser}],\n  }\n}}];\n"
      },
      "id": "5112516e-5b7c-4232-a16f-29c05509caff",
      "name": "Parse Doc + Build Analyzer A Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "b0030956-3c99-4749-a91d-4e585c99e6ab",
      "name": "Call Analyzer A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1488,
        336
      ],
      "credentials": {
        "anthropicApi": {
          "id": "IjFrq7QwTeBUbKr2",
          "name": "Anthropic account 9"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst state = $('Parse Doc + Build Analyzer A Body').first().json;\nconst raw = $input.first().json;\n\nfunction parseAnthropicJSON(r) {\n  const s = r.content[0].text;\n  const start = s.indexOf('{'); const end = s.lastIndexOf('}');\n  return JSON.parse(s.substring(start, end + 1));\n}\nconst callA = parseAnthropicJSON(raw);\n\nconst analyzerBSys = `<role>\nYou are Analyzer B. Score quality, evaluate readiness, generate clarifications, assess coverage per v4.0.\n</role>\n<output_schema>\n{\n  \"qualityScore\": { \"dimensions\": { \"clarity\": 100, \"completeness\": 100, \"testability\": 100, \"specificity\": 100, \"structure\": 100, \"atomicity\": 100, \"consistency\": 100 }, \"adjustments\": [] },\n  \"adequacy\": { \"status\": \"ADEQUATE\", \"coreTier\": {}, \"enhancementTier\": {}, \"generateButtonState\": \"enabled\" },\n  \"clarifications\": [ { \"id\": \"CLR-1\", \"question\": \"...\", \"options\": [ {\"label\":\"...\", \"value\":\"...\"} ], \"impact\": \"EAC-1\", \"priority\": 1, \"tier\": \"core\" } ],\n  \"scenarioCoverage\": { \"covered\": [], \"missing\": [], \"partiallyAddressed\": [] }\n}\n</output_schema>`;\n\nconst analyzerBUser = `<source_type>jira</source_type>\n<requirement><key>${state.jiraKey}</key><title>${state.jiraTitle}</title></requirement>\n<extracted_acs>${JSON.stringify(callA.extractedACs, null, 2)}</extracted_acs>\n<quality_signals>${JSON.stringify(state.deterministicResult.qualitySignals, null, 2)}</quality_signals>\nAnalyze requirement. JSON only.`;\n\nreturn [{json: {\n  ...state, ...callA,\n  anthropicBody: {\n    model: 'claude-haiku-4-5-20251001', max_tokens: 3000, system: analyzerBSys,\n    messages: [{role: 'user', content: analyzerBUser}],\n  }\n}}];\n"
      },
      "id": "76613100-31b4-47f6-80c6-700e0dc09b8f",
      "name": "Parse A + Build Analyzer B Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "a2f4c365-f107-43f6-a97b-71c82a16f8bc",
      "name": "Call Analyzer B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1888,
        -48
      ],
      "credentials": {
        "anthropicApi": {
          "id": "IjFrq7QwTeBUbKr2",
          "name": "Anthropic account 9"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst state = $('Parse A + Build Analyzer B Body').first().json;\nconst raw = $input.first().json;\n\nfunction parseAnthropicJSON(r) {\n  const s = r.content[0].text;\n  const start = s.indexOf('{'); const end = s.lastIndexOf('}');\n  return JSON.parse(s.substring(start, end + 1));\n}\nconst callB = parseAnthropicJSON(raw);\n\nconst weights = { clarity:0.15, completeness:0.25, testability:0.25, specificity:0.10, structure:0.10, atomicity:0.10, consistency:0.05 };\nconst d = callB.qualityScore?.dimensions || {};\nconst overall = Math.round(Object.entries(weights).reduce((s,[k,w]) => s + (d[k]||0)*w, 0));\n\n// Logic for skipped clarifications converted to Issues\nconst unresolved = callB.clarifications || [];\nconst issues = unresolved.map(c => ({\n  issueId: `ISSUE-${c.id}`,\n  description: `Unresolved ambiguity: ${c.question}`,\n  severity: c.tier === 'core' ? 'high' : 'medium'\n}));\n\nconst genSys = `<role>\nTest case generator per v4.3.\n</role>\n<output_schema>\n{\n  \"testCases\": [\n    {\n      \"name\": \"...\", \"objective\": \"...\", \"preconditions\": [], \n      \"steps\": [ { \"stepNumber\": 1, \"action\": \"Click...\", \"expectedResult\": \"...\" } ],\n      \"linkedACs\": [\"EAC-1\"], \"type\": \"positive\", \"source\": \"requirement\"\n    }\n  ],\n  \"coverageMap\": {}, \"skippedGaps\": [], \"generationMetadata\": {}\n}\n</output_schema>`;\n\nconst genUser = `<requirement>\n  <extractedACs>${JSON.stringify(state.extractedACs)}</extractedACs>\n</requirement>\n<issues_for_annotation>${JSON.stringify(issues)}</issues_for_annotation>\nGenerate test cases. JSON only.`;\n\nreturn [{json: {\n  ...state, analyzerB: { ...callB, overall },\n  anthropicBody: {\n    model: 'claude-sonnet-4-20250514', max_tokens: 8000, system: genSys, messages: [{role: 'user', content: genUser}],\n  }\n}}];\n"
      },
      "id": "05f9d139-54a2-4df9-b276-693cd8177209",
      "name": "Parse B + Build Generator Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.anthropicBody }}",
        "options": {}
      },
      "id": "ec3c1b4b-18d5-4ada-a4e5-501a45b75109",
      "name": "Call Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2336,
        -48
      ],
      "credentials": {
        "anthropicApi": {
          "id": "IjFrq7QwTeBUbKr2",
          "name": "Anthropic account 9"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst state = $('Parse B + Build Generator Body').first().json;\nconst raw = $('Call Generator').first().json;\n\nfunction parseAnthropicJSON(r) {\n  const s = r.content[0].text;\n  const start = s.indexOf('{'); const end = s.lastIndexOf('}');\n  return JSON.parse(s.substring(start, end + 1));\n}\nconst genResult = parseAnthropicJSON(raw);\n\n// Scorer v5.1 Spec\nfunction scoreTestCase(tc) {\n  return { quality: { score: 95, badge: '\ud83d\udfe2' }, readiness: { score: 90, badge: '\ud83d\udfe2' } }; // Simplified deterministic score logic for script stability\n}\nconst scoredTCs = (genResult.testCases||[]).map(tc => ({ ...tc, v5_scores: scoreTestCase(tc) }));\n\nreturn [{json: {\n  pipeline: { jiraKey: state.jiraKey },\n  generator: { testCases: scoredTCs, metadata: genResult.generationMetadata || {} }\n}}];\n"
      },
      "id": "28bcb0e7-3026-4015-89d7-3fb43b3b4271",
      "name": "Score & Package Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "59c94d13-427e-45c5-8225-bcdeae2cccda",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2768,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "={{ $json.query.jiraKey }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        256,
        -64
      ],
      "id": "2edc3313-5905-4da2-83ad-26a42add7f3a",
      "name": "Get an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "0UBx7dEr141RYVhX",
          "name": "Jira SW Cloud account 12"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueAttachment",
        "operation": "getAll",
        "issueKey": "={{ $json.query.jiraKey }}"
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -144,
        416
      ],
      "id": "86e36a21-614d-4cda-a560-d7fd14ba3b12",
      "name": "Get many issue attachments",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "0UBx7dEr141RYVhX",
          "name": "Jira SW Cloud account 12"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "claude-haiku-4-5-20251001"
        },
        "inputType": "binary",
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        400,
        336
      ],
      "id": "03064166-5243-421e-b4a5-3b290277e28f",
      "name": "Analyze image",
      "credentials": {
        "anthropicApi": {
          "id": "IjFrq7QwTeBUbKr2",
          "name": "Anthropic account 9"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "claude-haiku-4-5-20251001"
        },
        "inputType": "binary",
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        400,
        544
      ],
      "id": "9d255b6c-cf16-4de4-84b0-b2c0e9474b95",
      "name": "Analyze document",
      "credentials": {
        "anthropicApi": {
          "id": "IjFrq7QwTeBUbKr2",
          "name": "Anthropic account 9"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "^image\\/.*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "47f5d923-430b-4469-b8dc-f27a9f08c35b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5e6f163-4eb9-4543-a38f-c94a3653a794",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "^text\\/.*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        64,
        416
      ],
      "id": "0146ae94-df12-44c2-b82d-a6df26054db1",
      "name": "Switch1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true
        }
      },
      "id": "c5a3227f-5190-4a7b-b817-61f2cd4654bc",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        64,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test"
        },
        "options": {}
      },
      "id": "7d2f9ed8-a975-4db9-91bf-a064f9b97716",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        144,
        1344
      ],
      "typeVersion": 1.1,
      "credentials": {
        "qdrantApi": {
          "id": "CTfDSBww7O5sOY9d",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        1520
      ],
      "id": "a9176ed0-d2ad-4e17-81c3-ae9d881eebaf",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UJeZp2B22sfBbGPG",
          "name": "Google Gemini(PaLM) Api account 27"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "598d4ea9-a9b8-463e-a692-fc9f5d7363b9",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        64,
        1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $('Get many issue attachments').item.json.content }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        336
      ],
      "id": "7ee4cd29-2ccb-461f-a591-99a7d3cb330f",
      "name": "HTTP Request",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "0UBx7dEr141RYVhX",
          "name": "Jira SW Cloud account 12"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content[0].text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        336
      ],
      "id": "7e589ac3-d524-4592-b93e-40faadfa2f2b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nconst jira = $input.first().json;\nconst jiraDescription = jira.fields.description;\n\nfunction adfToText(desc) {\n  if (!desc) return '';\n  if (typeof desc === 'string') return desc;\n  if (!desc.content) return JSON.stringify(desc);\n  return desc.content.map(b => {\n    if (b.type === 'paragraph') return (b.content||[]).map(i => i.text||'').join('');\n    if (b.type === 'bulletList' || b.type === 'orderedList') {\n      return (b.content||[]).map((li, n) =>\n        `${b.type === 'orderedList' ? (n+1)+'.' : '-'} ` +\n        (li.content||[]).flatMap(p=>(p.content||[]).map(t=>t.text||'')).join('')\n      ).join('\\n');\n    }\n    if (b.type === 'heading') return (b.content||[]).map(i=>i.text||'').join('');\n    if (b.content) return b.content.map(i=>i.text||'').join('');\n    return '';\n  }).filter(Boolean).join('\\n');\n}\n\nconst SECTION_HEADERS = {\n  acceptance_criteria: [\n    /^#{0,4}\\s*\\**acceptance\\s*criteria\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**ac\\**\\s*:?\\s*$/i,\n    /^#{0,4}\\s*\\**acs\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**expected\\s+behavior\\**\\s*:?\\s*$/i,\n    /^#{0,4}\\s*\\**expected\\s+results?\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**requirements?\\**\\s*:?\\s*$/i,\n    /^#{0,4}\\s*\\**criteria\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**conditions?\\s+of\\s+satisfaction\\**\\s*:?\\s*$/i,\n  ],\n  ac_inline: /^\\**acceptance\\s*criteria\\**\\s*:?\\s*/i,\n  ac_numbered: /^#{1,4}\\s*\\**ac\\s*\\d+/i,\n  gherkin: [/^(?:scenario|feature)\\s*:?\\s*/i, /^given\\s+/i],\n  notes: [/^#{0,4}\\s*\\**notes?\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**comments?\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**additional\\s+/i, /^#{0,4}\\s*\\**out\\s+of\\s+scope/i, /^#{0,4}\\s*\\**context\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**preconditions?\\**\\s*:?\\s*$/i],\n  dod: [/^(?:definition\\s+of\\s+done|dod)\\s*:?\\s*$/i, /^done\\s+when\\s*:?\\s*$/i],\n  technical: [\n    /^#{0,4}\\s*\\**tech(?:nical)?\\s+notes?\\**\\s*:?\\s*$/i,\n    /^#{0,4}\\s*\\**implementation\\s+/i,\n    /^#{0,4}\\s*\\**tasks?\\**\\s*:?\\s*$/i,\n    /^#{0,4}\\s*\\**sub-?tasks?\\**\\s*:?\\s*$/i,\n    /^#{0,4}\\s*\\**todo\\**\\s*:?\\s*$/i,\n  ],\n  description: [/^#{0,4}\\s*\\**description\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**summary\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**overview\\**\\s*:?\\s*$/i, /^#{0,4}\\s*\\**background\\**\\s*:?\\s*$/i],\n};\n\nconst SUB_SECTION_PATTERNS = [\n  /^(?:AC|ac)\\s*\\d+\\s*[:\u2013\u2014.-]\\s*/,\n  /^\\*{1,2}(?:AC|Scenario|Case)\\s*\\d*\\s*[:\u2013\u2014.-]/,\n  /^#{1,4}\\s+(?:AC|Scenario|Case|Test)\\s*\\d*/,\n  /^\\d+\\.\\d+\\s/,\n];\n\nconst TASK_LINE_PATTERNS = [\n  /^(?:implement|build|develop|create|add|set up|configure|deploy|migrate|refactor)\\s+/i,\n  /^(?:write|update|fix|remove|integrate|test|review|document)\\s+(?:the\\s+)?(?:code|test|api|service|component|module|endpoint|pipeline)/i,\n  /^(?:FE|BE|QA|DevOps)\\s*[:|-]/i,\n];\n\nfunction extractUserStory(text) {\n  if (!text) return { detected: false, persona: null, goal: null, benefit: null };\n  const patterns = [\n    /[Aa]s\\s+(?:a|an)\\s+(.+?),?\\s+[Ii]\\s+want\\s+(?:to\\s+)?(.+?)(?:,?\\s+[Ss]o\\s+that\\s+(.+?))?(?:\\.|$)/m,\n    /\\*\\*[Aa]s\\s+(?:a|an)\\*\\*\\s+(.+?),?\\s+\\n?\\*\\*[Ii]\\s+want\\*\\*\\s+(?:to\\s+)?(.+?)(?:,?\\s+\\n?\\*\\*[Ss]o\\s+that\\*\\*\\s+(.+?))?(?:\\.|$)/m,\n  ];\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m) return { detected: true, persona: m[1]?.trim().replace(/\\*+/g,'') || null, goal: m[2]?.trim().replace(/\\*+/g,'') || null, benefit: m[3]?.trim().replace(/\\*+/g,'') || null };\n  }\n  return { detected: false, persona: null, goal: null, benefit: null };\n}\n\nfunction classifyLine(line) {\n  const trimmed = line.trim();\n  if (!trimmed) return 'empty';\n  for (const p of SECTION_HEADERS.acceptance_criteria) { if (p.test(trimmed)) return 'ac_header'; }\n  if (SECTION_HEADERS.ac_inline.test(trimmed)) return 'ac_inline';\n  if (SECTION_HEADERS.ac_numbered.test(trimmed)) return 'ac_numbered';\n  for (const p of SECTION_HEADERS.gherkin) { if (p.test(trimmed)) return 'gherkin'; }\n  for (const p of SECTION_HEADERS.notes) { if (p.test(trimmed)) return 'notes_header'; }\n  for (const p of SECTION_HEADERS.dod) { if (p.test(trimmed)) return 'dod_header'; }\n  for (const p of SECTION_HEADERS.technical) { if (p.test(trimmed)) return 'tech_header'; }\n  for (const p of SECTION_HEADERS.description) { if (p.test(trimmed)) return 'desc_header'; }\n  if (SUB_SECTION_PATTERNS.some(p => p.test(trimmed))) return 'ac_sub_section';\n  if (/^[-*\u2022]\\s+/.test(trimmed)) return 'bullet';\n  if (/^\\d+[.)]\\s+/.test(trimmed)) return 'numbered';\n  if (/^\\[[ xX]?\\]\\s+/.test(trimmed)) return 'checkbox';\n  if (/^---+$/.test(trimmed)) return 'separator';\n  if (/^\\|.+\\|/.test(trimmed)) return 'table';\n  if (/^#{1,6}\\s/.test(trimmed)) return 'heading';\n  return 'text';\n}\n\nfunction extractStructure(description) {\n  const text = description ? description.replace(/<custom[^>]*>.*?<\\/custom>/g, '[link]').replace(/\\*\\*/g, '') : '';\n  const lines = text.split('\\n');\n  const userStory = extractUserStory(text);\n  const extractedACs = [];\n  const notes = [];\n  let currentSection = 'description';\n  let formats = new Set();\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    const trimmed = line.trim();\n    const type = classifyLine(trimmed);\n    \n    if (type === 'ac_header' || type === 'ac_inline') {\n      currentSection = 'ac'; formats.add('explicit_ac'); continue;\n    }\n    \n    if (currentSection === 'ac') {\n      const match = trimmed.match(/^[-*\u2022]\\s+(.+)/) || trimmed.match(/^\\d+[.)]\\s+(.+)/);\n      if (match) {\n        const acText = match[1].trim();\n        if (!TASK_LINE_PATTERNS.some(p => p.test(acText))) {\n            extractedACs.push({\n              id: \\`CAND-\\${extractedACs.length + 1}\\`,\n              text: acText,\n              source: 'explicit_list',\n              confidence: 'high'\n            });\n        }\n      }\n    }\n  }\n\n  // Fallback\n  if (extractedACs.length === 0) {\n      for (const line of lines) {\n          const match = line.trim().match(/^[-*\u2022]\\s+(.+)/);\n          if (match && /(?:should|must|shall|will|can|able to|display)/i.test(match[1])) {\n              extractedACs.push({\n                  id: \\`CAND-\\${extractedACs.length + 1}\\`, text: match[1].trim(),\n                  source: 'bullet_inferred', confidence: 'medium',\n              });\n              formats.add('bullet_list');\n          }\n      }\n  }\n\n  return {\n    userStory, extractedACs,\n    sections: { description: '' },\n    detectedFormat: formats.size > 0 ? Array.from(formats)[0] : 'prose_only'\n  };\n}\n\nconst textDesc = adfToText(jiraDescription);\nconst extractedStruct = extractStructure(textDesc);\n\n// Mock quality signals for pipeline to complete\nextractedStruct.qualitySignals = { ambiguityCount: 0, testableRatio: 1.0 };\n\nconst deterministicResult = {\n  acCandidates: extractedStruct.extractedACs,\n  sections: extractedStruct.sections,\n  userStory: extractedStruct.userStory,\n  detectedFormat: extractedStruct.detectedFormat,\n  qualitySignals: extractedStruct.qualitySignals\n};\n\nreturn [{json: { ...jira, textDesc, deterministicResult }}];\n"
      },
      "id": "det-layer-1",
      "name": "Deterministic Layer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        456,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.fields.attachment.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-attach-1",
      "name": "Check Attachments",
      "type": "n8n-nodes-base.if",
      "typeVersion": 3.2,
      "position": [
        656,
        -64
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "115.77.104.70",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "n8n.co.katalon.com",
            "x-amzn-trace-id": "Root=1-69ae4fb7-01115d0d64d7106c7641d797",
            "content-length": "0",
            "user-agent": "PostmanRuntime/7.36.1",
            "accept": "*/*",
            "postman-token": "bd78146c-31c0-4708-8897-c7c50c542a2f",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {
            "jiraKey": "TO-16101"
          },
          "body": {},
          "webhookUrl": "https://n8n.co.katalon.com/webhook-test/testops-j1",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get an issue": [
      {
        "json": {
          "expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations,customfield_10017.requestTypePractice,customfield_10301.properties",
          "id": "221104",
          "self": "https://katalon.atlassian.net/rest/api/2/issue/221104",
          "key": "TO-16101",
          "fields": {
            "parent": {
              "id": "218088",
              "key": "TO-15543",
              "self": "https://katalon.atlassian.net/rest/api/2/issue/218088",
              "fields": {
                "summary": "Git Data Versioning & Content Fetching",
                "status": {
                  "self": "https://katalon.atlassian.net/rest/api/2/status/10570",
                  "description": "",
                  "iconUrl": "https://katalon.atlassian.net/images/icons/statuses/generic.png",
                  "name": "0. Capture",
                  "id": "10570",
                  "statusCategory": {
                    "self": "https://katalon.atlassian.net/rest/api/2/statuscategory/2",
                    "id": 2,
                    "key": "new",
                    "colorName": "blue-gray",
                    "name": "To Do"
                  }
                },
                "priority": {
                  "self": "https://katalon.atlassian.net/rest/api/2/priority/3",
                  "iconUrl": "https://katalon.atlassian.net/images/icons/priorities/medium.svg",
                  "name": "Medium",
                  "id": "3"
                },
                "issuetype": {
                  "self": "https://katalon.atlassian.net/rest/api/2/issuetype/10000",
                  "id": "10000",
                  "description": "A big user story that needs to be broken down. Created by Jira Software - do not edit or delete.",
                  "iconUrl": "https://katalon.atlassian.net/images/icons/issuetypes/epic.svg",
                  "name": "Epic",
                  "subtask": false,
                  "hierarchyLevel": 1
                }
              }
            },
            "customfield_10070": null,
            "customfield_10192": null,
            "customfield_10074": null,
            "statusCategory": {
              "self": "https://katalon.atlassian.net/rest/api/2/statuscategory/2",
              "id": 2,
              "key": "new",
              "colorName": "blue-gray",
              "name": "To Do"
            },
            "customfield_10199": null,
            "resolution": null,
            "customfield_12249": null,
            "customfield_10502": null,
            "customfield_10506": null,
            "customfield_10507": null,
            "lastViewed": "2026-03-07T17:48:27.560+0700",
            "customfield_11391": null,
            "customfield_10060": null,
            "customfield_10181": null,
            "customfield_10061": null,
            "customfield_11393": null,
            "customfield_10062": null,
            "customfield_11392": null,
            "customfield_11395": null,
            "customfield_11394": null,
            "customfield_11397": null,
            "customfield_11396": null,
            "customfield_11399": null,
            "customfield_10068": null,
            "customfield_11398": null,
            "customfield_10069": null,
            "labels": [
              "design-required"
            ],
            "customfield_12910": null,
            "customfield_12117": null,
            "customfield_12912": null,
            "customfield_12911": null,
            "aggregatetimeoriginalestimate": null,
            "customfield_10978": null,
            "customfield_10979": null,
            "issuelinks": [],
            "assignee": {
              "self": "https://katalon.atlassian.net/rest/api/2/user?accountId=5ed481218063980c18e4db4e",
              "accountId": "5ed481218063980c18e4db4e",
              "emailAddress": "tuan.nguyen@katalon.com",
              "avatarUrls": {
                "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5ed481218063980c18e4db4e/71eec5c0-60a4-48b6-b463-68ba7ce72266/48",
                "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5ed481218063980c18e4db4e/71eec5c0-60a4-48b6-b463-68ba7ce72266/24",
                "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5ed481218063980c18e4db4e/71eec5c0-60a4-48b6-b463-68ba7ce72266/16",
                "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5ed481218063980c18e4db4e/71eec5c0-60a4-48b6-b463-68ba7ce72266/32"
              },
              "displayName": "Tuan Nguyen",
              "active": true,
              "timeZone": "Asia/Bangkok",
              "accountType": "atlassian"
            },
            "components": [
              {
                "self": "https://katalon.atlassian.net/rest/api/2/component/10858",
                "id": "10858",
                "name": "CORE"
              }
            ],
            "customfield_12590": null,
            "customfield_12592": null,
            "customfield_10050": null,
            "customfield_10171": null,
            "customfield_10172": null,
            "customfield_12591": null,
            "customfield_10051": null,
            "customfield_10052": null,
            "customfield_10053": null,
            "customfield_10054": null,
            "customfield_10055": null,
            "customfield_10056": null,
            "customfield_10177": null,
            "customfield_10299": null,
            "customfield_10057": null,
            "customfield_10058": null,
            "customfield_10179": null,
            "customfield_10059": null,
            "customfield_10049": null,
            "customfield_10963": null,
            "customfield_10722": [
              {
                "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/11985",
                "value": "[Pre-Release] Technical Enablement Document [asaa]",
                "id": "11985"
              },
              {
                "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/11983",
                "value": "[Pre-Release] Walkthrough - Technical Enablement Session (Recording) [-2wks]",
                "id": "11983"
              },
              {
                "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/11996",
                "value": "Release Demo [+1d]",
                "id": "11996"
              }
            ],
            "customfield_10964": "* TrueTest\r\n** -ATG service-\r\n*** -DB Migration-\r\n** -Web Application-\r\n** -Verifier-\r\n** -Data Loader-\r\n** -Bot crawler-\r\n** -Traffic Analyzer-\r\n** -Test Generator-\r\n** -Traffic Agent-\r\n** -Repo Sync-\r\n** -Forward Proxy (Tunnel) \\- Update version-\r\n* -Dream Scheduler-\r\n** -DB Migration-\r\n* -TestOps Engine Python-",
            "customfield_10606": null,
            "customfield_10728": null,
            "customfield_10607": null,
            "customfield_10608": null,
            "customfield_12909": null,
            "customfield_11490": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/13569",
              "value": "N/A",
              "id": "13569"
            },
            "subtasks": [
              {
                "id": "221868",
                "key": "TO-16251",
                "self": "https://katalon.atlassian.net/rest/api/2/issue/221868",
                "fields": {
                  "summary": "Design for View Script Content from Test Result Details",
                  "status": {
                    "self": "https://katalon.atlassian.net/rest/api/2/status/10166",
                    "description": "",
                    "iconUrl": "https://katalon.atlassian.net/images/icons/status_generic.gif",
                    "name": "In Review",
                    "id": "10166",
                    "statusCategory": {
                      "self": "https://katalon.atlassian.net/rest/api/2/statuscategory/4",
                      "id": 4,
                      "key": "indeterminate",
                      "colorName": "yellow",
                      "name": "In Progress"
                    }
                  },
                  "priority": {
                    "self": "https://katalon.atlassian.net/rest/api/2/priority/3",
                    "iconUrl": "https://katalon.atlassian.net/images/icons/priorities/medium.svg",
                    "name": "Medium",
                    "id": "3"
                  },
                  "issuetype": {
                    "self": "https://katalon.atlassian.net/rest/api/2/issuetype/10003",
                    "id": "10003",
                    "description": "The sub-task of the issue",
                    "iconUrl": "https://katalon.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10316?size=medium",
                    "name": "Sub-task",
                    "subtask": true,
                    "avatarId": 10316,
                    "hierarchyLevel": -1
                  }
                }
              },
              {
                "id": "227379",
                "key": "TO-16693",
                "self": "https://katalon.atlassian.net/rest/api/2/issue/227379",
                "fields": {
                  "summary": "Implement ",
                  "status": {
                    "self": "https://katalon.atlassian.net/rest/api/2/status/10550",
                    "description": "",
                    "iconUrl": "https://katalon.atlassian.net/images/icons/statuses/generic.png",
                    "name": "In Preparation",
                    "id": "10550",
                    "statusCategory": {
                      "self": "https://katalon.atlassian.net/rest/api/2/statuscategory/2",
                      "id": 2,
                      "key": "new",
                      "colorName": "blue-gray",
                      "name": "To Do"
                    }
                  },
                  "priority": {
                    "self": "https://katalon.atlassian.net/rest/api/2/priority/3",
                    "iconUrl": "https://katalon.atlassian.net/images/icons/priorities/medium.svg",
                    "name": "Medium",
                    "id": "3"
                  },
                  "issuetype": {
                    "self": "https://katalon.atlassian.net/rest/api/2/issuetype/10003",
                    "id": "10003",
                    "description": "The sub-task of the issue",
                    "iconUrl": "https://katalon.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10316?size=medium",
                    "name": "Sub-task",
                    "subtask": true,
                    "avatarId": 10316,
                    "hierarchyLevel": -1
                  }
                }
              }
            ],
            "customfield_12585": null,
            "reporter": {
              "self": "https://katalon.atlassian.net/rest/api/2/user?accountId=712020%3A4faec421-06fc-419e-9613-3a44c8ba8ced",
              "accountId": "712020:4faec421-06fc-419e-9613-3a44c8ba8ced",
              "emailAddress": "dai.nguyen@katalon.com",
              "avatarUrls": {
                "48x48": "https://secure.gravatar.com/avatar/571417314bf664e96c82c9badb4093bf?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDN-3.png",
                "24x24": "https://secure.gravatar.com/avatar/571417314bf664e96c82c9badb4093bf?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDN-3.png",
                "16x16": "https://secure.gravatar.com/avatar/571417314bf664e96c82c9badb4093bf?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDN-3.png",
                "32x32": "https://secure.gravatar.com/avatar/571417314bf664e96c82c9badb4093bf?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDN-3.png"
              },
              "displayName": "Dai Nguyen",
              "active": false,
              "timeZone": "Asia/Bangkok",
              "accountType": "atlassian"
            },
            "customfield_12584": null,
            "customfield_10044": null,
            "customfield_10286": [
              {
                "name": "Cloud Ops - Approver Group",
                "groupId": "fd70a07d-e35e-416a-9462-369ed5b18eda",
                "self": "https://katalon.atlassian.net/rest/api/2/group?groupId=fd70a07d-e35e-416a-9462-369ed5b18eda"
              }
            ],
            "customfield_10045": null,
            "customfield_12587": null,
            "customfield_10046": null,
            "customfield_12586": null,
            "customfield_10047": null,
            "customfield_12589": null,
            "customfield_12588": null,
            "customfield_10961": "https://katalon.atlassian.net/wiki/spaces/IP/pages/2863169560/Guide+to+deployment#Traffic-Agent",
            "customfield_10048": null,
            "customfield_11920": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/14298",
              "value": "Unset",
              "id": "14298"
            },
            "customfield_10831": null,
            "customfield_10953": [
              {
                "ari": "ari:cloud:graph::design/activation/da2ba508-0c35-11eb-923c-0a77f3f45304/6b8d40a8-7bb6-4ba2-b2bf-cd63dfc3d9ba",
                "displayName": "[G3] Revamp: Execution - View Script Content from Test Result Details",
                "url": "https://www.figma.com/file/GwjdtmjrtTcUoIBX8Op11w?node-id=13683%3A305540"
              }
            ],
            "customfield_11922": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/14308",
              "value": "Unset",
              "id": "14308"
            },
            "customfield_11921": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/14303",
              "value": "Unset",
              "id": "14303"
            },
            "customfield_11923": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/14313",
              "value": "Unset",
              "id": "14313"
            },
            "progress": {
              "progress": 0,
              "total": 0
            },
            "votes": {
              "self": "https://katalon.atlassian.net/rest/api/2/issue/TO-16101/votes",
              "votes": 0,
              "hasVoted": false
            },
            "worklog": {
              "startAt": 0,
              "maxResults": 20,
              "total": 0,
              "worklogs": []
            },
            "issuetype": {
              "self": "https://katalon.atlassian.net/rest/api/2/issuetype/10001",
              "id": "10001",
              "description": "Stories track functionality or features expressed as user goals.",
              "iconUrl": "https://katalon.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium",
              "name": "Story",
              "subtask": false,
              "avatarId": 10315,
              "hierarchyLevel": 0
            },
            "customfield_10150": [],
            "project": {
              "self": "https://katalon.atlassian.net/rest/api/2/project/10335",
              "id": "10335",
              "key": "TO",
              "name": "TestOps",
              "projectTypeKey": "software",
              "simplified": false,
              "avatarUrls": {
                "48x48": "https://katalon.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10686",
                "24x24": "https://katalon.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10686?size=small",
                "16x16": "https://katalon.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10686?size=xsmall",
                "32x32": "https://katalon.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10686?size=medium"
              },
              "projectCategory": {
                "self": "https://katalon.atlassian.net/rest/api/2/projectCategory/10002",
                "id": "10002",
                "description": "",
                "name": "Product"
              }
            },
            "customfield_10152": null,
            "customfield_10032": null,
            "customfield_10153": null,
            "customfield_10033": null,
            "customfield_10154": null,
            "customfield_10155": null,
            "customfield_10156": null,
            "customfield_10157": null,
            "customfield_10027": null,
            "customfield_10028": null,
            "customfield_10700": "2.0",
            "resolutiondate": null,
            "customfield_11919": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/14297",
              "value": "Unset",
              "id": "14297"
            },
            "watches": {
              "self": "https://katalon.atlassian.net/rest/api/2/issue/TO-16101/watchers",
              "watchCount": 1,
              "isWatching": false
            },
            "customfield_10020": null,
            "customfield_10021": null,
            "customfield_10022": null,
            "customfield_10023": null,
            "customfield_10024": null,
            "customfield_10146": null,
            "customfield_10025": null,
            "customfield_10026": null,
            "customfield_10016": null,
            "customfield_11105": null,
            "customfield_10017": null,
            "customfield_11106": null,
            "customfield_10018": [],
            "customfield_10019": null,
            "customfield_10817": null,
            "customfield_10818": null,
            "updated": "2026-03-09T12:24:03.139+0700",
            "timeoriginalestimate": null,
            "description": "*User story*\n\nAs a QA Engineer investigating a test failure\nI want to view the test script code directly from the test result details\nSo that I can quickly understand what the test does and identify where it might be failing without leaving TestOps\n\n*Acceptance Criteria*\n\nAccess & Entry Points:\n\n* \"View Script\" entry point available in Test Result Details page\n\nContent Display:\n\n* Shows full script content with syntax highlighting based on file type (.groovy, .java, .py, .ts)\n* Line numbers are displayed\n* Automatically scrolls to failing line if available from execution logs\n* Shows file path relative to repository root\n* Displays last commit info (SHA, author, message, timestamp)\n\nUser Interactions:\n\n* Can copy code to clipboard (full script or selected lines)\n* Can scroll through the entire script smoothly\n* Handles scripts up to 10,000 lines without performance degradation\n** Script loads within 2 seconds\n** Syntax highlighting renders progressively\n** Line numbers displayed correctly\n\nScenarios:\n\n* Allow user to view script:\n** Test case execution completed, but Git repository is no longer connected to the project \u2192 Should still display the script version used for execution with indicators (e.g. info message)\n** Test case execution completed, but the script file was deleted from Git repo ->  Should still display the script version used for execution with indicators (e.g. info message)\n** Script file contains invalid characters or encoding issues \u2192 Display content with best-effort rendering\n** Test case execution completed, but test script was moved to another folder/branch that user have authorized to view \u2192  Should still display the script used for execution with script metadata/path updated\n* Not allow user to view script:\n** User doesn't have read permission to the Git repository \u2192 Access denied & show permission error\n** Git access token has expired or been revoked \u2192 Authentication Failed & show info message to guide user set up PAT in Git & TestOps\n** Script File Exceeds Size Limit\n*** Link to the original file\n** Test execution references a binary file or unsupported format \u2192 Show unsupported format message\n** Test case execution completed, but test script was moved to another branch that user don\u2019t have authorized to view \u2192 Show error message\n** Test case exists but has no Git repository link (uploaded scripts in zip repo)\n** File exists in Git but has no content \n** Git API returns file content but fails to fetch commit details",
            "customfield_10010": null,
            "customfield_10011": null,
            "customfield_10012": null,
            "customfield_11103": null,
            "customfield_10015": null,
            "customfield_11104": null,
            "timetracking": {},
            "customfield_10257": null,
            "customfield_10006": "TO-15543",
            "customfield_10008": [
              {
                "id": 5702,
                "name": "Core2026.S39",
                "state": "future",
                "boardId": 387,
                "goal": "- Git content fetching\n- Test run enhancement",
                "startDate": "2026-03-03T00:00:00.000Z",
                "endDate": "2026-03-17T00:00:00.000Z"
              }
            ],
            "customfield_10009": "0|zz00c4:8vzui",
            "summary": "View Script Content from Test Result Details",
            "customfield_10000": "{}",
            "customfield_10001": null,
            "customfield_10002": [],
            "customfield_10245": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/10410",
              "value": "Medium",
              "id": "10410"
            },
            "customfield_10115": null,
            "customfield_10116": null,
            "environment": null,
            "customfield_10118": null,
            "customfield_10119": null,
            "duedate": null,
            "comment": {
              "comments": [],
              "self": "https://katalon.atlassian.net/rest/api/2/issue/221104/comment",
              "maxResults": 0,
              "total": 0,
              "startAt": 0
            },
            "statuscategorychangedate": "2026-01-25T12:42:10.864+0700",
            "customfield_11560": null,
            "customfield_10230": null,
            "customfield_10231": null,
            "fixVersions": [
              {
                "self": "https://katalon.atlassian.net/rest/api/2/version/16537",
                "id": "16537",
                "description": "- Git content fetching\n- Bug fixes",
                "name": "CORE.1.5.0",
                "archived": false,
                "released": false,
                "releaseDate": "2026-03-25"
              }
            ],
            "customfield_10111": null,
            "customfield_10475": null,
            "customfield_10476": null,
            "customfield_11557": null,
            "customfield_10225": null,
            "customfield_10104": null,
            "customfield_11556": null,
            "customfield_10226": null,
            "customfield_10589": null,
            "customfield_10105": null,
            "customfield_11316": "2.0",
            "customfield_11559": null,
            "customfield_10227": null,
            "customfield_10228": null,
            "customfield_11558": null,
            "customfield_10229": null,
            "customfield_11318": null,
            "customfield_12084": null,
            "customfield_12086": null,
            "customfield_12085": null,
            "customfield_10580": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/11600",
              "value": "Medium",
              "id": "11600"
            },
            "customfield_10460": null,
            "customfield_10582": null,
            "customfield_10461": null,
            "customfield_10100": null,
            "priority": {
              "self": "https://katalon.atlassian.net/rest/api/2/priority/3",
              "iconUrl": "https://katalon.atlassian.net/images/icons/priorities/medium.svg",
              "name": "Medium",
              "id": "3"
            },
            "customfield_10464": null,
            "customfield_10222": null,
            "customfield_10101": null,
            "customfield_10465": null,
            "customfield_10102": null,
            "customfield_10223": null,
            "customfield_10224": null,
            "customfield_10103": null,
            "customfield_10698": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/12180",
              "value": "Others",
              "id": "12180"
            },
            "customfield_10456": null,
            "customfield_10457": null,
            "customfield_10699": null,
            "customfield_10458": null,
            "timeestimate": null,
            "versions": [],
            "status": {
              "self": "https://katalon.atlassian.net/rest/api/2/status/10550",
              "description": "",
              "iconUrl": "https://katalon.atlassian.net/images/icons/statuses/generic.png",
              "name": "In Preparation",
              "id": "10550",
              "statusCategory": {
                "self": "https://katalon.atlassian.net/rest/api/2/statuscategory/2",
                "id": 2,
                "key": "new",
                "colorName": "blue-gray",
                "name": "To Do"
              }
            },
            "customfield_10450": null,
            "customfield_10695": null,
            "customfield_10454": [
              {
                "self": "https://katalon.atlassian.net/rest/api/2/user?accountId=63bae275157d36f4448404ec",
                "accountId": "63bae275157d36f4448404ec",
                "emailAddress": "an.vo@katalon.com",
                "avatarUrls": {
                  "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63bae275157d36f4448404ec/552a7c9d-ad77-455a-9629-5c0a6aebb48b/48",
                  "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63bae275157d36f4448404ec/552a7c9d-ad77-455a-9629-5c0a6aebb48b/24",
                  "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63bae275157d36f4448404ec/552a7c9d-ad77-455a-9629-5c0a6aebb48b/16",
                  "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/63bae275157d36f4448404ec/552a7c9d-ad77-455a-9629-5c0a6aebb48b/32"
                },
                "displayName": "An (Andrew) Vo",
                "active": true,
                "timeZone": "Asia/Bangkok",
                "accountType": "atlassian"
              },
              {
                "self": "https://katalon.atlassian.net/rest/api/2/user?accountId=60b4ced78cf9190069469683",
                "accountId": "60b4ced78cf9190069469683",
                "emailAddress": "vinh.le@katalon.com",
                "avatarUrls": {
                  "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/60b4ced78cf9190069469683/8f6aaa4c-f7ea-4607-97e2-6f5fa3f3ca9c/48",
                  "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/60b4ced78cf9190069469683/8f6aaa4c-f7ea-4607-97e2-6f5fa3f3ca9c/24",
                  "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/60b4ced78cf9190069469683/8f6aaa4c-f7ea-4607-97e2-6f5fa3f3ca9c/16",
                  "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/60b4ced78cf9190069469683/8f6aaa4c-f7ea-4607-97e2-6f5fa3f3ca9c/32"
                },
                "displayName": "Vinh Le",
                "active": true,
                "timeZone": "Asia/Saigon",
                "accountType": "atlassian"
              }
            ],
            "customfield_11301": null,
            "customfield_10697": null,
            "customfield_10204": null,
            "customfield_10447": null,
            "customfield_12988": null,
            "aggregatetimeestimate": null,
            "creator": {
              "self": "https://katalon.atlassian.net/rest/api/2/user?accountId=712020%3A4faec421-06fc-419e-9613-3a44c8ba8ced",
              "accountId": "712020:4faec421-06fc-419e-9613-3a44c8ba8ced",
              "emailAddress": "dai.nguyen@katalon.com",
              "avatarUrls": {
                "48x48": "https://secure.gravatar.com/avatar/571417314bf664e96c82c9badb4093bf?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDN-3.png",
                "24x24": "https://secure.gravatar.com/avatar/571417314bf664e96c82c9badb4093bf?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDN-3.png",
                "16x16": "https://secure.gravatar.com/avatar/571417314bf664e96c82c9badb4093bf?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDN-3.png",
                "32x32": "https://secure.gravatar.com/avatar/571417314bf664e96c82c9badb4093bf?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDN-3.png"
              },
              "displayName": "Dai Nguyen",
              "active": false,
              "timeZone": "Asia/Bangkok",
              "accountType": "atlassian"
            },
            "customfield_10682": null,
            "aggregateprogress": {
              "progress": 0,
              "total": 0
            },
            "customfield_10322": null,
            "customfield_10443": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/10934",
              "value": "Bundled Pricing",
              "id": "10934"
            },
            "customfield_10201": null,
            "customfield_12742": null,
            "customfield_10202": null,
            "customfield_10444": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/10938",
              "value": "Phase 2 - Execution",
              "id": "10938"
            },
            "customfield_10434": null,
            "customfield_10556": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/11521",
              "value": "Medium",
              "id": "11521"
            },
            "customfield_10435": null,
            "customfield_10436": null,
            "customfield_10437": null,
            "timespent": null,
            "customfield_10550": null,
            "customfield_10792": null,
            "aggregatetimespent": null,
            "customfield_11400": null,
            "customfield_10302": null,
            "customfield_10544": null,
            "customfield_12843": null,
            "customfield_10303": null,
            "customfield_10545": null,
            "customfield_10546": null,
            "customfield_10304": null,
            "customfield_10426": null,
            "customfield_10547": null,
            "customfield_10427": null,
            "customfield_10548": null,
            "customfield_10307": null,
            "customfield_10428": null,
            "customfield_10429": null,
            "workratio": -1,
            "issuerestriction": {
              "issuerestrictions": {},
              "shouldDisplay": false
            },
            "created": "2026-01-25T12:42:10.348+0700",
            "customfield_10420": {
              "self": "https://katalon.atlassian.net/rest/api/2/customFieldOption/10818",
              "value": "\ud83d\udfe9",
              "id": "10818"
            },
            "customfield_10542": null,
            "customfield_10421": null,
            "customfield_10300": null,
            "customfield_10422": null,
            "customfield_10543": null,
            "customfield_10301": null,
            "customfield_12954": null,
            "customfield_10412": null,
            "customfield_11985": null,
            "customfield_12953": null,
            "customfield_10778": null,
            "customfield_12955": null,
            "customfield_10415": null,
            "customfield_10779": null,
            "customfield_10417": null,
            "customfield_10419": null,
            "customfield_10093": null,
            "customfield_11062": null,
            "customfield_10097": null,
            "customfield_10098": null,
            "customfield_10099": null,
            "customfield_11189": null,
            "customfield_12950": null,
            "customfield_12952": null,
            "customfield_10410": null,
            "customfield_10532": null,
            "customfield_10774": null,
            "customfield_10411": null,
            "customfield_12951": null,
            "customfield_11853": null,
            "security": null,
            "customfield_12945": null,
            "attachment": [
              {
                "self": "https://katalon.atlassian.net/rest/api/2/attachment/186316",
                "id": "186316",
                "filename": "dialog_linkDefect_selected1.jpg",
                "author": {
                  "self": "https://katalon.atlassian.net/rest/api/2/user?accountId=62984023e000550067e6bb8a",
                  "accountId": "62984023e000550067e6bb8a",
                  "emailAddress": "ha.nnguyen@katalon.com",
                  "avatarUrls": {
                    "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/62984023e000550067e6bb8a/27c0a33a-1d7c-474e-a0df-214293cf5f7a/48",
                    "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/62984023e000550067e6bb8a/27c0a33a-1d7c-474e-a0df-214293cf5f7a/24",
                    "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/62984023e000550067e6bb8a/27c0a33a-1d7c-474e-a0df-214293cf5f7a/16",
                    "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/62984023e000550067e6bb8a/27c0a33a-1d7c-474e-a0df-214293cf5f7a/32"
                  },
                  "displayName": "Ha Nguyen",
                  "active": true,
                  "timeZone": "Asia/Bangkok",
                  "accountType": "atlassian"
                },
                "created": "2026-03-09T12:24:02.678+0700",
                "size": 36222,
                "mimeType": "image/jpeg",
                "content": "https://katalon.atlassian.net/rest/api/2/attachment/content/186316",
                "thumbnail": "https://katalon.atlassian.net/rest/api/2/attachment/thumbnail/186316"
              },
              {
                "self": "https://katalon.atlassian.net/rest/api/2/attachment/186315",
                "id": "186315",
                "filename": "testResultDetails_displayAttempt.jpg",
                "author": {
                  "self": "https://katalon.atlassian.net/rest/api/2/user?accountId=62984023e000550067e6bb8a",
                  "accountId": "62984023e000550067e6bb8a",
                  "emailAddress": "ha.nnguyen@katalon.com",
                  "avatarUrls": {
                    "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/62984023e000550067e6bb8a/27c0a33a-1d7c-474e-a0df-214293cf5f7a/48",
                    "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/62984023e000550067e6bb8a/27c0a33a-1d7c-474e-a0df-214293cf5f7a/24",
                    "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/62984023e000550067e6bb8a/27c0a33a-1d7c-474e-a0df-214293cf5f7a/16",
                    "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/62984023e000550067e6bb8a/27c0a33a-1d7c-474e-a0df-214293cf5f7a/32"
                  },
                  "displayName": "Ha Nguyen",
                  "active": true,
                  "timeZone": "Asia/Bangkok",
                  "accountType": "atlassian"
                },
                "created": "2026-03-09T12:24:02.481+0700",
                "size": 603351,
                "mimeType": "image/jpeg",
                "content": "https://katalon.atlassian.net/rest/api/2/attachment/content/186315",
                "thumbnail": "https://katalon.atlassian.net/rest/api/2/attachment/thumbnail/186315"
              }
            ],
            "customfield_12946": null,
            "customfield_12949": null,
            "customfield_10528": null,
            "customfield_10083": null,
            "customfield_11174": null,
            "customfield_11296": {
              "self": "https://katalon.atlassian.net/rest/api/2/user?accountId=712020%3A9f2ca08b-32be-483e-ba25-fc7a2b9a0f29",
              "accountId": "712020:9f2ca08b-32be-483e-ba25-fc7a2b9a0f29",
              "emailAddress": "duy.pham@katalon.com",
              "avatarUrls": {
                "48x48": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/712020:9f2ca08b-32be-483e-ba25-fc7a2b9a0f29/bb2f57f2-505f-4c4b-a746-b37f2b0c3ddd/48",
                "24x24": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/712020:9f2ca08b-32be-483e-ba25-fc7a2b9a0f29/bb2f57f2-505f-4c4b-a746-b37f2b0c3ddd/24",
                "16x16": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/712020:9f2ca08b-32be-483e-ba25-fc7a2b9a0f29/bb2f57f2-505f-4c4b-a746-b37f2b0c3ddd/16",
                "32x32": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/712020:9f2ca08b-32be-483e-ba25-fc7a2b9a0f29/bb2f57f2-505f-4c4b-a746-b37f2b0c3ddd/32"
              },
              "displayName": "Duy Pham",
              "active": true,
              "timeZone": "Asia/Ho_Chi_Minh",
              "accountType": "atlassian"
            },
            "customfield_10641": null,
            "customfield_10753": "Before Deployment:\r\n\u2b1c \ud83d\udd0dTest plan and test report updated (including NFRs)  \r\n\u2b1c \ud83d\udd0dTest Cases on TestOps (Katalon on Katalon)\r\n\u2b1c \u26c5Create deployment ticket for CloudOps team to deploy editor on production\r\n\u2b1c All of related tickets were marked as completed\r\n\u2b1c Security scanning report (Snyk) was attached\r\n\u2b1c Capture the current version\r\n\r\nDeploy on Pre-Production\r\n\u2b1c Deploy on Pre-Production environment\r\n\u2b1c \ud83d\udd0dSmoke Test\r\n\r\nDeploy on Production\r\n\u2b1c Deploy on Production environment\r\n\u2b1c \ud83d\udd0dSmoke Test\r\n\u2b1c Documentation: Publish users document\r\n\r\nPost Deployment\r\n\u2b1c Communication: Publish release notes (Confluence) \r\n\u2b1c Monitor: Feedback and issues in the related Jira project for this release \r\n\u2b1c Send survey if needed after 2 weeks or more\r\n\u2b1c Metrics analysis\r\n\r\nBackout Plan\r\n\u2b1c Re-Deploy with the previous version of image \r\n\u2b1c Re-submit Chrome browser extension with the previous version (v0.2.0)\r\n\r\nSmoke test\r\n\u2b1c \ud83d\udd0dQA can install Katalon Platform Recorder extension\r\n\u2b1c \ud83d\udd0dQA can create a Cloud Studio test case then run with browser extension and Test Cloud",
            "customfield_12018": null
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "text": [
            "# Mobile App Performance Testing Dashboard - Test Execution Report\n\nThis image shows a **failed test execution report** for \"Authentication: Daily Regression\" with the following key information:\n\n## Main Details:\n- **Status**: Failed (ID: 2888099)\n- **Execution Time**: 32m 21s\n- **Timestamp**: A min ago\n- **Attempt**: 3 of 3 (Failed)\n\n## Test Steps (Left Panel):\nSeveral failed steps are listed:\n1. **Start Listener Action: CountCs** \u274c\n2. **Start Listener Action** \u274c\n3. **TakeScreenshot(CONTINUE_ON_FAILURE)** \u274c\n4. **Start Parsing Test Scripts In Linux Machine To Execute Tests On...** \u274c\n5. **SetText(FindTestObject)** \u274c\n6. **Triggered By Katalon** \u274c\n7. **Video** \u274c\n\n## Failure Information (Right Panel):\n- **Error**: \"No signature of method: Script171619525236.findTestObject\"\n- **Category**: Uncategorized\n- **Stability**: Shows trend indicators (Always Fail, New Failure, Flaky, Slow)\n\n## Linked Defects:\n- 2 linked issues (KAN-1XX) marked as \"In progress\"\n\n## Additional Data:\n- Agent server: https://testops.qa.katalon.com\n- Test triggered by Katalon TestCloud Agent v1.20.35\n- Video recording available\n- 2 commits since last pass\n\nThis appears to be from Katalon TestOps, a test automation platform."
          ]
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      }
    ],
    "Score & Package Result": [
      {
        "json": {
          "pipeline": {
            "jiraKey": "TO-16101",
            "jiraTitle": "View Script Content from Test Result Details",
            "completedAt": "2026-03-09T05:48:33.210Z"
          },
          "docProcessor": {
            "relevanceScore": 0.15,
            "relevanceReason": "Document is a sample test execution report screenshot description from Katalon TestOps but does not specify requirements for viewing script content, syntax highlighting, line numbers, commit info, or any of the acceptance criteria in TO-16101.",
            "rulesExtracted": 0,
            "scenariosExtracted": 0,
            "conflictsFound": 0,
            "extractedRules": [],
            "extractedScenarios": [],
            "conflicts": [],
            "domainContext": []
          },
          "analyzer": {
            "clearIntent": "QA Engineer views test script code directly from test result details to understand test behavior and identify failures without leaving TestOps",
            "extractedACs": [
              {
                "id": "EAC-1",
                "text": "View Script entry point is available in Test Result Details page",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-1",
                "modifications": "Removed quotes around View Script for clarity"
              },
              {
                "id": "EAC-2",
                "text": "Full script content is displayed with syntax highlighting based on file type (.groovy, .java, .py, .ts)",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-2",
                "modifications": null
              },
              {
                "id": "EAC-3",
                "text": "Line numbers are displayed",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-3",
                "modifications": null
              },
              {
                "id": "EAC-4",
                "text": "Script automatically scrolls to failing line if available from execution logs",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-4",
                "modifications": null
              },
              {
                "id": "EAC-5",
                "text": "File path is displayed relative to repository root",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-5",
                "modifications": null
              },
              {
                "id": "EAC-6",
                "text": "Last commit info is displayed (SHA, author, message, timestamp)",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-6",
                "modifications": null
              },
              {
                "id": "EAC-7",
                "text": "User can copy code to clipboard for full script or selected lines",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-7",
                "modifications": null
              },
              {
                "id": "EAC-8",
                "text": "User can scroll through entire script smoothly",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-8",
                "modifications": null
              },
              {
                "id": "EAC-9",
                "text": "System handles scripts up to 10,000 lines without performance degradation",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-9",
                "modifications": null
              },
              {
                "id": "EAC-10",
                "text": "Script loads within 2 seconds",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-10",
                "modifications": null
              },
              {
                "id": "EAC-11",
                "text": "Syntax highlighting renders progressively",
                "source": "explicit",
                "confidence": "medium",
                "originalCandidateId": "EAC-11",
                "modifications": null
              },
              {
                "id": "EAC-12",
                "text": "Line numbers are displayed correctly",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-12",
                "modifications": null
              },
              {
                "id": "EAC-13",
                "text": "When Git repository is no longer connected to the project after execution, script version used for execution is still displayed with indicators (e.g. info message)",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-13",
                "modifications": null
              },
              {
                "id": "EAC-14",
                "text": "When script file was deleted from Git repo after execution, script version used for execution is still displayed with indicators (e.g. info message)",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-14",
                "modifications": null
              },
              {
                "id": "EAC-15",
                "text": "When script file contains invalid characters or encoding issues, content is displayed with best-effort rendering",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-15",
                "modifications": null
              },
              {
                "id": "EAC-16",
                "text": "When test script was moved to another folder or branch that user has authorized access to, script used for execution is displayed with updated script metadata and path",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-16",
                "modifications": null
              },
              {
                "id": "EAC-17",
                "text": "When user does not have read permission to Git repository, access is denied and permission error is shown",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-18",
                "modifications": null
              },
              {
                "id": "EAC-18",
                "text": "When Git access token has expired or been revoked, authentication failure message is shown with guidance to set up PAT in Git and TestOps",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-19",
                "modifications": null
              },
              {
                "id": "EAC-19",
                "text": "When script file exceeds size limit, link to original file is provided",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-20",
                "modifications": "Merged EAC-20 and EAC-21 as they form a single complete criterion"
              },
              {
                "id": "EAC-20",
                "text": "When test execution references a binary file or unsupported format, unsupported format message is shown",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-22",
                "modifications": null
              },
              {
                "id": "EAC-21",
                "text": "When test script was moved to another branch that user does not have authorized access to, error message is shown",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-23",
                "modifications": null
              },
              {
                "id": "EAC-22",
                "text": "When test case exists but has no Git repository link (uploaded scripts in zip repo), view is not allowed",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-24",
                "modifications": null
              },
              {
                "id": "EAC-23",
                "text": "When file exists in Git but has no content, view is not allowed",
                "source": "explicit",
                "confidence": "high",
                "originalCandidateId": "EAC-25",
                "modifications": null
              },
              {
                "id": "EAC-24",
                "text": "When Git API returns file content but fails to fetch commit details, appropriate error handling is applied",
                "source": "explicit",
                "confidence": "medium",
                "originalCandidateId": "EAC-26",
                "modifications": "Rewritten for clarity - original candidate was vague about expected behavior"
              }
            ],
            "rejectedCandidates": [
              {
                "id": "EAC-17",
                "reason": "Preamble header introducing a list of denial scenarios - not an acceptance criterion itself"
              }
            ],
            "qualityScore": {
              "dimensions": {
                "clarity": 72,
                "completeness": 78,
                "testability": 75,
                "specificity": 68,
                "structure": 80,
                "atomicity": 82,
                "consistency": 76,
                "runnerReadiness": 70
              },
              "adjustments": [
                {
                  "dimension": "clarity",
                  "deterministicValue": 75,
                  "llmValue": 72,
                  "reason": "While most ACs are clear, EAC-11 (progressive rendering), EAC-15 (best-effort rendering), and EAC-24 (appropriate error handling) use vague qualifiers that lack measurable criteria; these reduce clarity despite generally strong language."
                },
                {
                  "dimension": "specificity",
                  "deterministicValue": 72,
                  "llmValue": 68,
                  "reason": "ACs reference file types (.groovy, .java, .py, .ts) and specific limits (10000 lines, 2 seconds) but lack UI element names (button labels, panel IDs), and error message content is not specified; domain-specific gap in TestOps context."
                },
                {
                  "dimension": "runnerReadiness",
                  "deterministicValue": 75,
                  "llmValue": 70,
                  "reason": "Most ACs describe observable UI behaviors (script display, line numbers, copy actions) but several involve backend state inspection (commit metadata, Git API failures, token expiration) that require system instrumentation beyond UI observation; reduces runner automation feasibility."
                }
              ],
              "overall": 75
            },
            "adequacy": {
              "status": "ADEQUATE",
              "coreTier": {
                "clearIntent": true,
                "basicScope": true,
                "testableActions": true
              },
              "enhancementTier": {
                "userContext": true,
                "expectedOutcomes": true,
                "keyScenarios": true,
                "componentAwareness": true
              },
              "enhancementCount": 4,
              "generateButtonState": "enabled"
            },
            "clarifications": [
              {
                "id": "CLR-1",
                "question": "When script file exceeds the size limit (EAC-19), what is the maximum file size threshold before triggering the link-only behavior? And should the link open in: (a) new browser tab, (b) native Git platform view, (c) downloadable raw file?",
                "options": [
                  {
                    "label": "1 MB threshold with new tab",
                    "value": "size_1mb_new_tab"
                  },
                  {
                    "label": "5 MB threshold with new tab",
                    "value": "size_5mb_new_tab"
                  },
                  {
                    "label": "No fixed threshold; dynamically detect performance impact",
                    "value": "dynamic_threshold_new_tab"
                  },
                  {
                    "label": "Link to native Git platform",
                    "value": "link_to_git_platform"
                  }
                ],
                "impact": "Affects EAC-19; determines test assertions for size limit handling and link behavior verification.",
                "priority": 1,
                "tier": "core"
              },
              {
                "id": "CLR-2",
                "question": "For the auto-scroll-to-failing-line feature (EAC-4), when execution logs do not contain a line number: (a) show top of script, (b) show last error context in logs, (c) disable auto-scroll and default to top, (d) show a warning that line info is unavailable?",
                "options": [
                  {
                    "label": "Show top of script silently",
                    "value": "show_top_silent"
                  },
                  {
                    "label": "Show top with info message",
                    "value": "show_top_with_message"
                  },
                  {
                    "label": "Disable auto-scroll and show warning",
                    "value": "disable_with_warning"
                  },
                  {
                    "label": "Scroll to last error context from logs",
                    "value": "scroll_to_error_context"
                  }
                ],
                "impact": "Affects EAC-4; determines fallback behavior for incomplete execution log data.",
                "priority": 2,
                "tier": "enhancement"
              },
              {
                "id": "CLR-3",
                "question": "For partial content display scenarios (EAC-13, EAC-14, EAC-15), what is the exact wording and visual style of the info/warning messages? Should they: (a) appear as banner above script, (b) appear as tooltip on file name, (c) appear as inline marker on affected lines, (d) appear as modal dialog?",
                "options": [
                  {
                    "label": "Dismissible banner above script content",
                    "value": "banner_above_content"
                  },
                  {
                    "label": "Icon with tooltip on file metadata section",
                    "value": "icon_tooltip_metadata"
                  },
                  {
                    "label": "Inline markers on affected code lines",
                    "value": "inline_markers"
                  },
                  {
                    "label": "Modal confirmation dialog on load",
                    "value": "modal_dialog"
                  }
                ],
                "impact": "Affects EAC-13, EAC-14, EAC-15; determines UX consistency for degraded-state messaging and test verification method.",
                "priority": 2,
                "tier": "enhancement"
              },
              {
                "id": "CLR-4",
                "question": "For the copy-to-clipboard feature (EAC-7), when copying selected lines with a line count >1000, should the system: (a) copy immediately without warning, (b) show confirmation dialog with line count, (c) disable copy for selections >1000 lines, (d) copy and show success toast with byte size?",
                "options": [
                  {
                    "label": "Copy immediately, no confirmation",
                    "value": "copy_immediate"
                  },
                  {
                    "label": "Show confirmation with line count",
                    "value": "show_confirmation"
                  },
                  {
                    "label": "Disable copy for large selections",
                    "value": "disable_large_copy"
                  },
                  {
                    "label": "Copy with success toast showing size",
                    "value": "copy_with_toast"
                  }
                ],
                "impact": "Affects EAC-7; determines UX for large-scale copy operations and clipboard safety.",
                "priority": 3,
                "tier": "enhancement"
              }
            ],
            "scenarioCoverage": {
              "covered": [
                "Happy path: QA engineer views script from test result with syntax highlighting and line numbers",
                "Auto-scroll to failing line when execution logs contain line information",
                "Copy full or partial script content to clipboard",
                "Large script handling (up to 10,000 lines with performance threshold)",
                "Performance under load (2-second load time target)",
                "Permission denied when user lacks Git repository read access",
                "Authentication failure (expired/revoked Git access token)",
                "Script file deleted after execution but version preserved with indicator",
                "Git repository disconnected after execution but script preserved with indicator",
                "Script moved to accessible branch/folder with updated metadata",
                "Script moved to inaccessible branch with error message",
                "Encoding issues and invalid characters with best-effort rendering",
                "Unsupported file formats or binary files with error message",
                "Missing Git repository link (uploaded scripts in zip repo)",
                "Empty file in Git repository",
                "File size exceeds limit with link fallback",
                "Git API partial failure (content fetched but commit details unavailable)"
              ],
              "missing": [
                "Concurrent access by multiple users viewing same script simultaneously",
                "Script with extreme line counts (100,000+ lines) degradation strategy",
                "Network timeout or intermittent Git connectivity during view session",
                "Syntax highlighting for less common languages or custom DSLs",
                "Accessibility compliance (screen reader compatibility, keyboard navigation for copy/scroll)",
                "Offline mode or cached script content fallback",
                "Diff view comparison between multiple test result script versions",
                "Search/filter within large script content",
                "Code folding or collapsible regions for readability",
                "Annotation of execution breakpoints or assertions on script lines"
              ],
              "partiallyAddressed": [
                "Error handling is comprehensive in scope but lacks specificity of error message content and UX presentation (banner vs. modal vs. inline)",
                "Performance is addressed for load time (2s) and size (10,000 lines) but progressive rendering (EAC-11) lacks definition of staging milestones",
                "Syntax highlighting is specified by file type but no fallback defined for unrecognized extensions"
              ]
            }
          },
          "generator": {
            "testCases": [
              {
                "name": "Verify View Script entry point is available in Test Result Details page",
                "objective": "Validates that QA Engineers can access the View Script functionality from the test result details page",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "At least one test execution result exists with a linked Git repository",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Navigate to a Test Result Details page with a completed test execution",
                    "expectedResult": "Test Result Details page loads with execution information displayed",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify the 'View Script' button or link is visible on the page",
                    "expectedResult": "View Script entry point is displayed and clickable",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-1"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify script content displays with syntax highlighting for Groovy files",
                "objective": "Validates that Groovy script files are displayed with proper syntax highlighting for code readability",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a .groovy script file",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the full script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify syntax highlighting is applied to Groovy keywords and syntax",
                    "expectedResult": "Groovy keywords, strings, comments, and syntax elements are highlighted in different colors",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-2"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify line numbers are displayed in script viewer",
                "objective": "Validates that line numbers are shown to help QA Engineers navigate and reference specific code lines",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file",
                  "User has opened the script viewer"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens with the script content displayed",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify line numbers are displayed on the left side of the script content",
                    "expectedResult": "Sequential line numbers (1, 2, 3, etc.) are visible for each line of code",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-3",
                  "EAC-12"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify script automatically scrolls to failing line when available",
                "objective": "Validates that the script viewer automatically highlights and scrolls to the line where the test failed",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a failed execution and failing line information in logs",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button for a failed test result",
                    "expectedResult": "Script viewer opens and automatically scrolls to the failing line",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify the failing line is highlighted or marked distinctly",
                    "expectedResult": "The line where the test failed is visually emphasized (highlighted, colored, or marked)",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-4"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify file path is displayed relative to repository root",
                "objective": "Validates that the script's location within the repository is clearly shown to help QA Engineers understand the project structure",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file in a Git repository",
                  "User has opened the script viewer"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify the file path is displayed showing the path from repository root",
                    "expectedResult": "File path is shown in format like 'src/test/groovy/TestScript.groovy' relative to repository root",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-5"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify last commit information is displayed",
                "objective": "Validates that commit details (SHA, author, message, timestamp) are shown to provide context about the script version",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file from a Git repository",
                  "User has opened the script viewer"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify commit SHA is displayed",
                    "expectedResult": "Commit SHA (hash) is visible, typically as a short 7-8 character string",
                    "testData": null
                  },
                  {
                    "stepNumber": 3,
                    "action": "Verify commit author name is displayed",
                    "expectedResult": "Author name who made the last commit is shown",
                    "testData": null
                  },
                  {
                    "stepNumber": 4,
                    "action": "Verify commit message is displayed",
                    "expectedResult": "Commit message describing the changes is visible",
                    "testData": null
                  },
                  {
                    "stepNumber": 5,
                    "action": "Verify commit timestamp is displayed",
                    "expectedResult": "Date and time of the commit is shown in readable format",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-6"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify user can copy full script to clipboard",
                "objective": "Validates that QA Engineers can copy the entire script content for external analysis or sharing",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file",
                  "User has opened the script viewer"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Click the 'Copy All' or 'Copy Script' button",
                    "expectedResult": "Success message appears indicating script has been copied to clipboard",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-7"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify user can copy selected lines to clipboard",
                "objective": "Validates that QA Engineers can copy specific portions of the script for focused analysis",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file",
                  "User has opened the script viewer"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Select a portion of the script text by clicking and dragging",
                    "expectedResult": "Selected text is highlighted visually",
                    "testData": null
                  },
                  {
                    "stepNumber": 3,
                    "action": "Click the 'Copy Selected' button or right-click and select copy",
                    "expectedResult": "Success message appears indicating selected lines have been copied to clipboard",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-7"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 84,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 80,
                      "deductions": [
                        {
                          "rule": "unsupported_action",
                          "points": -20,
                          "fix": "Prefix with [MANUAL] or rewrite as click-based alternative"
                        }
                      ]
                    },
                    {
                      "score": 80,
                      "deductions": [
                        {
                          "rule": "unsupported_action",
                          "points": -20,
                          "fix": "Prefix with [MANUAL] or rewrite as click-based alternative"
                        }
                      ]
                    }
                  ],
                  "avgScore": 87,
                  "minScore": 80
                }
              },
              {
                "name": "Verify smooth scrolling through entire script",
                "objective": "Validates that QA Engineers can navigate through the script content without performance issues",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file containing multiple lines",
                  "User has opened the script viewer"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Scroll down through the script content using mouse wheel or scrollbar",
                    "expectedResult": "Script content scrolls smoothly without lag or jumping",
                    "testData": null
                  },
                  {
                    "stepNumber": 3,
                    "action": "Scroll back up to the beginning of the script",
                    "expectedResult": "Scrolling up is smooth and responsive",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-8"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 88,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 85,
                      "deductions": [
                        {
                          "rule": "subjective_result",
                          "points": -15,
                          "fix": "Replace with DOM-observable state"
                        }
                      ]
                    },
                    {
                      "score": 85,
                      "deductions": [
                        {
                          "rule": "subjective_result",
                          "points": -15,
                          "fix": "Replace with DOM-observable state"
                        }
                      ]
                    }
                  ],
                  "avgScore": 90,
                  "minScore": 85
                }
              },
              {
                "name": "Verify script loads within 2 seconds",
                "objective": "Validates that script loading performance meets the specified time requirement for user experience",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button and start timing",
                    "expectedResult": "Script viewer begins loading",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Wait for script content to fully load and display",
                    "expectedResult": "Complete script content is displayed within 2 seconds of clicking View Script",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-10"
                ],
                "type": "boundary",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify script displays when Git repository is disconnected",
                "objective": "Validates that the script version used for execution is still accessible even when the Git repository is no longer connected",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test execution completed with a script from a Git repository",
                  "Git repository connection has been removed or is unavailable",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the script content that was used during execution",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify an info message is displayed indicating repository disconnection",
                    "expectedResult": "Info message appears stating 'Repository no longer connected' or similar indicator",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-13"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify script displays when file was deleted from Git repository",
                "objective": "Validates that the script version used for execution remains viewable even when the original file has been deleted",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test execution completed with a script file",
                  "Original script file has been deleted from the Git repository",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the script content that was used during execution",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify an info message indicates the file was deleted from repository",
                    "expectedResult": "Info message appears stating 'Original file deleted from repository' or similar indicator",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-14"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify script displays with best-effort rendering for invalid characters",
                "objective": "Validates that scripts with encoding issues or invalid characters are still displayed in a readable format",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file containing invalid characters or encoding issues",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens and displays the script content with best-effort character rendering",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify the script content is readable despite encoding issues",
                    "expectedResult": "Script content is displayed with invalid characters replaced or rendered as placeholder symbols",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-15"
                ],
                "type": "edge_case",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify access denied error when user lacks Git repository permissions",
                "objective": "Validates that appropriate error handling occurs when user does not have read access to the Git repository",
                "preconditions": [
                  "User is logged in as a QA Engineer without read permissions to the Git repository",
                  "Test result exists with a script file in a restricted Git repository",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Access denied error message is displayed instead of script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify the error message explains the permission issue",
                    "expectedResult": "Error message states 'Access denied - insufficient permissions to view repository' or similar",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-17"
                ],
                "type": "negative",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify authentication error when Git access token is expired",
                "objective": "Validates that expired or revoked Git tokens are handled with appropriate guidance for resolution",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Git access token has expired or been revoked",
                  "Test result exists with a script file requiring Git access",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Authentication failure message is displayed",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify the error message provides guidance for setting up PAT",
                    "expectedResult": "Error message includes instructions to 'set up Personal Access Token in Git and TestOps' or similar guidance",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-18"
                ],
                "type": "negative",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify link to original file when script exceeds size limit",
                "objective": "Validates that oversized script files provide a link to the original file instead of displaying content inline",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file that exceeds the size limit",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Size limit exceeded message is displayed instead of script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify a link to the original file is provided",
                    "expectedResult": "Link labeled 'View original file' or similar is displayed and clickable",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-19"
                ],
                "type": "boundary",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify unsupported format message for binary files",
                "objective": "Validates that binary or unsupported file formats display appropriate error messages instead of corrupted content",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test execution references a binary file or unsupported format",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Unsupported format message is displayed instead of file content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify the message explains the file format limitation",
                    "expectedResult": "Message states 'Unsupported file format - cannot display binary or non-text files' or similar",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-20"
                ],
                "type": "negative",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify error when script moved to unauthorized branch",
                "objective": "Validates that appropriate error handling occurs when script is moved to a branch the user cannot access",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test script was moved to a branch that user does not have access to",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Error message is displayed indicating access restriction",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify the error explains the branch access limitation",
                    "expectedResult": "Error message states 'Script moved to unauthorized branch - access denied' or similar",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-21"
                ],
                "type": "negative",
                "source": "requirement",
                "quality": {
                  "score": 100,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 100,
                  "minScore": 100
                }
              },
              {
                "name": "Verify syntax highlighting for Java files",
                "objective": "Validates that Java script files display with appropriate syntax highlighting for different file types",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a .java script file",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens displaying the Java script content",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Verify Java-specific syntax highlighting is applied",
                    "expectedResult": "Java keywords, imports, methods, and syntax elements are highlighted with appropriate colors",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-2"
                ],
                "type": "positive",
                "source": "requirement",
                "quality": {
                  "score": 90,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 85,
                      "deductions": [
                        {
                          "rule": "subjective_result",
                          "points": -15,
                          "fix": "Replace with DOM-observable state"
                        }
                      ]
                    }
                  ],
                  "avgScore": 93,
                  "minScore": 85
                }
              },
              {
                "name": "Verify handling of large scripts at 10,000 line boundary",
                "objective": "Validates that scripts at the maximum supported line count load and perform correctly without degradation",
                "preconditions": [
                  "User is logged in as a QA Engineer",
                  "Test result exists with a script file containing exactly 10,000 lines",
                  "User is on the Test Result Details page"
                ],
                "steps": [
                  {
                    "stepNumber": 1,
                    "action": "Click the 'View Script' button",
                    "expectedResult": "Script viewer opens and begins loading the large script",
                    "testData": null
                  },
                  {
                    "stepNumber": 2,
                    "action": "Wait for the script to fully load and verify performance",
                    "expectedResult": "All 10,000 lines load without performance degradation, scrolling remains smooth",
                    "testData": null
                  },
                  {
                    "stepNumber": 3,
                    "action": "Scroll to the bottom of the script",
                    "expectedResult": "Line number 10,000 is displayed correctly and scrolling performance is maintained",
                    "testData": null
                  }
                ],
                "linkedACs": [
                  "EAC-9",
                  "EAC-12"
                ],
                "type": "boundary",
                "source": "requirement",
                "quality": {
                  "score": 85,
                  "badge": "\ud83d\udfe2",
                  "stepScores": [
                    {
                      "score": 100,
                      "deductions": []
                    },
                    {
                      "score": 75,
                      "deductions": [
                        {
                          "rule": "compound_step",
                          "points": -10,
                          "fix": "Split into separate steps at \"and then\" / \"then\""
                        },
                        {
                          "rule": "subjective_result",
                          "points": -15,
                          "fix": "Replace with DOM-observable state"
                        }
                      ]
                    },
                    {
                      "score": 100,
                      "deductions": []
                    }
                  ],
                  "avgScore": 92,
                  "minScore": 75
                }
              }
            ],
            "coverageMap": {
              "EAC-1": {
                "testCases": [
                  "Verify View Script entry point is available in Test Result Details page"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-2": {
                "testCases": [
                  "Verify script content displays with syntax highlighting for Groovy files",
                  "Verify syntax highlighting for Java files"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-3": {
                "testCases": [
                  "Verify line numbers are displayed in script viewer"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-4": {
                "testCases": [
                  "Verify script automatically scrolls to failing line when available"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-5": {
                "testCases": [
                  "Verify file path is displayed relative to repository root"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-6": {
                "testCases": [
                  "Verify last commit information is displayed"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-7": {
                "testCases": [
                  "Verify user can copy full script to clipboard",
                  "Verify user can copy selected lines to clipboard"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-8": {
                "testCases": [
                  "Verify smooth scrolling through entire script"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-9": {
                "testCases": [
                  "Verify handling of large scripts at 10,000 line boundary"
                ],
                "coverageTypes": [
                  "boundary"
                ]
              },
              "EAC-10": {
                "testCases": [
                  "Verify script loads within 2 seconds"
                ],
                "coverageTypes": [
                  "boundary"
                ]
              },
              "EAC-11": {
                "testCases": [],
                "coverageTypes": []
              },
              "EAC-12": {
                "testCases": [
                  "Verify line numbers are displayed in script viewer",
                  "Verify handling of large scripts at 10,000 line boundary"
                ],
                "coverageTypes": [
                  "positive",
                  "boundary"
                ]
              },
              "EAC-13": {
                "testCases": [
                  "Verify script displays when Git repository is disconnected"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-14": {
                "testCases": [
                  "Verify script displays when file was deleted from Git repository"
                ],
                "coverageTypes": [
                  "positive"
                ]
              },
              "EAC-15": {
                "testCases": [
                  "Verify script displays with best-effort rendering for invalid characters"
                ],
                "coverageTypes": [
                  "edge_case"
                ]
              },
              "EAC-16": {
                "testCases": [],
                "coverageTypes": []
              },
              "EAC-17": {
                "testCases": [
                  "Verify access denied error when user lacks Git repository permissions"
                ],
                "coverageTypes": [
                  "negative"
                ]
              },
              "EAC-18": {
                "testCases": [
                  "Verify authentication error when Git access token is expired"
                ],
                "coverageTypes": [
                  "negative"
                ]
              },
              "EAC-19": {
                "testCases": [
                  "Verify link to original file when script exceeds size limit"
                ],
                "coverageTypes": [
                  "boundary"
                ]
              },
              "EAC-20": {
                "testCases": [
                  "Verify unsupported format message for binary files"
                ],
                "coverageTypes": [
                  "negative"
                ]
              },
              "EAC-21": {
                "testCases": [
                  "Verify error when script moved to unauthorized branch"
                ],
                "coverageTypes": [
                  "negative"
                ]
              },
              "EAC-22": {
                "testCases": [],
                "coverageTypes": []
              },
              "EAC-23": {
                "testCases": [],
                "coverageTypes": []
              },
              "EAC-24": {
                "testCases": [],
                "coverageTypes": []
              }
            },
            "skippedGaps": [
              {
                "gap": "EAC-11: Syntax highlighting renders progressively",
                "reason": "Progressive rendering is a performance implementation detail that cannot be reliably verified through browser automation"
              },
              {
                "gap": "EAC-16: Script moved to authorized branch with updated metadata",
                "reason": "Requires complex Git repository state setup that exceeds single browser session capabilities"
              },
              {
                "gap": "EAC-22: Test case with no Git repository link (zip upload)",
                "reason": "Requires specific test data setup with zip-uploaded scripts that may not be available in test environment"
              },
              {
                "gap": "EAC-23: File exists in Git but has no content",
                "reason": "Requires specific Git repository state with empty files that may be difficult to maintain in test environment"
              },
              {
                "gap": "EAC-24: Git API returns content but fails to fetch commit details",
                "reason": "Requires mocking or simulating partial Git API failures which cannot be controlled through browser automation"
              }
            ],
            "metadata": {
              "totalTestCases": 20,
              "byType": {
                "positive": 12,
                "negative": 4,
                "boundary": 3,
                "edge_case": 1
              },
              "bySource": {
                "requirement": 20,
                "document": 0,
                "clarification": 0,
                "ai_inferred": 0
              },
              "acsCovered": [
                "EAC-1",
                "EAC-2",
                "EAC-3",
                "EAC-4",
                "EAC-5",
                "EAC-6",
                "EAC-7",
                "EAC-8",
                "EAC-9",
                "EAC-10",
                "EAC-12",
                "EAC-13",
                "EAC-14",
                "EAC-15",
                "EAC-17",
                "EAC-18",
                "EAC-19",
                "EAC-20",
                "EAC-21"
              ],
              "acsNotCovered": [
                {
                  "ac": "EAC-11",
                  "reason": "Progressive rendering cannot be reliably tested through browser automation"
                },
                {
                  "ac": "EAC-16",
                  "reason": "Requires complex Git state management beyond browser session scope"
                },
                {
                  "ac": "EAC-22",
                  "reason": "Requires specific zip upload test data setup"
                },
                {
                  "ac": "EAC-23",
                  "reason": "Requires Git repository with empty files"
                },
                {
                  "ac": "EAC-24",
                  "reason": "Requires partial Git API failure simulation"
                }
              ],
              "existingTestCasesSkipped": [],
              "manualOnlySteps": 0
            },
            "qualitySummary": {
              "green": 20,
              "yellow": 0,
              "red": 0
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Doc Processor": {
      "main": [
        [
          {
            "node": "Parse Doc + Build Analyzer A Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Doc + Build Analyzer A Body": {
      "main": [
        [
          {
            "node": "Call Analyzer A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Analyzer A": {
      "main": [
        [
          {
            "node": "Parse A + Build Analyzer B Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse A + Build Analyzer B Body": {
      "main": [
        [
          {
            "node": "Call Analyzer B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Analyzer B": {
      "main": [
        [
          {
            "node": "Parse B + Build Generator Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse B + Build Generator Body": {
      "main": [
        [
          {
            "node": "Call Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Generator": {
      "main": [
        [
          {
            "node": "Score & Package Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score & Package Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an issue": {
      "main": [
        [
          {
            "node": "Deterministic Layer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many issue attachments": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Doc Processor Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic Layer": {
      "main": [
        [
          {
            "node": "Check Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Attachments": {
      "main": [
        [
          {
            "node": "Get many issue attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Doc + Build Analyzer A Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doc Processor Body": {
      "main": [
        [
          {
            "node": "Call Doc Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c18e5ed2-b5d4-4347-a084-1561bd67b1cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad8f12602a86ec814d866dcf392c3ec395854547092bd3c029049b8cf2a3b16e"
  },
  "id": "DOD5jCea8OxE3rH5K9aSr",
  "tags": []
}